.header12 {
background-color: red;
color: white;
width: 175px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
height: 92px;
text-align: center;
}

.header13 {

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;

}
