* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
   
}

::-webkit-scrollbar {
    display: none;
}



body {
    background-color: red;
    min-height: 100px;
    max-width: 300px;
}


p {
    color:white;
    position: relative;
    top: 350px;
    left: 650px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
